<%- include('header') -%>


<div class="container mt-4">
    <h1>commandes</h1>
    

 
    <%  if (locals?.message) {  %>
      <div class="alert alert-success" role="alert">
        <%= message %>  
      </div>          
       
  <% } %>
  
  <div class="mb-3">
  
  </div>
  
<%- include('footer') -%>